<form id="frm_create_user" name="userCreateForm" novalidate class="form-horizontal form-validation">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>{{vm.title}}</span>
        </h4>
    </div>
    <div uib-tabset class="modal-body nav-tabs-custom">
        <uib-tab heading="个人资料">
            <div class="form-group" ng-class="{'has-error':userCreateForm.userName.$invalid}">
                <label class="col-sm-2 control-label" for="userName">用户名</label>
                <div class="col-sm-10">
                    <input class="form-control" name="userName" type="text"
                           required
                           maxlength="15"
                           ng-model="vm.user.userName">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':userCreateForm.name.$invalid}">
                <label class="col-sm-2 control-label" for="name">姓</label>
                <div class="col-sm-10">
                    <input class="form-control" name="name" type="text"
                           required
                           ng-model="vm.user.name">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':userCreateForm.surname.$invalid}">
                <label class="col-sm-2 control-label" for="surname">名</label>
                <div class="col-sm-10">
                    <input class="form-control" name="surname" type="text"
                           required
                           ng-model="vm.user.surname">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':userCreateForm.emailAddress.$invalid}">
                <label class="col-sm-2 control-label" for="emailAddress">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="emailAddress"
                           maxlength="50"
                           required
                           ng-model="vm.user.emailAddress">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':userCreateForm.isActive.$invalid}">
                <label class="col-sm-2 control-label" for="isActive">激活</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="isActive" ng-model="vm.user.isActive">
                        允许登录
                    </label>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                角色<b class="badge badge-primary">{{vm.getAssignedRoleCount()}}</b>
            </uib-tab-heading>
            <div class="row">
                <div class="col-sm-6" ng-repeat="role in vm.roles">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="role" value="{{role.name}}" title="{{role.description}}" ng-model="role.isAssigned" class="filled-in" />
                        {{role.displayName}}
                    </label>
                </div>
            </div>
        </uib-tab>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            <i class="fa fa-close"></i> @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="userCreateForm.$invalid" button-busy="vm.saving">
            <i class="fa fa-save"></i> @L("Save")
        </button>
    </div>

</form>